.status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  opacity: 0.4;
}

.status[data-status^='A_CONSTRUIR'] .value {
  color: lightgray;
}
.status[data-status^='EM_ESPERA'] .value {
  color: orange;
}
.status[data-status^='ERROR'] .value {
  color: red;
  opacity: 0.8;
}

.status[data-status^='FALTAM_DADOS'] .value {
  color: red;
  opacity: 0.8;
}

.status[data-status^='PREPARANDO'] .value {
  color: orange;
}
.status[data-status^='PRONTO'] .value {
  color: green;
}

